/*@import url(~reset-css);*/

body {
  padding: 30px;
  background-color: silver;
  background-image: url(assets/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
